.MainBackground
{
    position: relative;
    height: 500px;
    width: 100%;
}
.BackgroundTitle
{
   
    position: absolute;
    text-align: center;
    top: 150px;
    right: 500px;
     font-weight: bold;
    font-size: 40px; 
    
}
.Recipes
{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.DownPart
{
    display: flex; 
    flex-direction: row;
   
}

.SubTitles h4,p
{
    margin-left: 400px;
    font-weight: bold;
}
.RecipesPic {
  margin-left: 100px;
  display: grid;
  gap :50px; 
   grid-template-columns: auto auto auto auto auto; 
 
}

