/* *
{
    font-family: Rajdhani ,sans-serif;
    box-sizing: border-box;
    
} */
/* .searchPart
{
    align-items: center;
} */
.searchPart 
{
     /*align-content: center;*/
     margin-left: 500px;
    /* margin-left: 550px; */
     /*width: 100px; */
    /*padding: 10px; */
}
